# Intellij files
.idea
*.iml
*.ipr
*.iws

*.class
.settings/
.checkstyle
target/
tck/bin/
.project
.classpath
.factorypath
test-output

# Ignore a release.conf for perform_release/* script usage
release.conf
